<!DOCTYPE html>
<html>
<head>
  <title>Editar pregunta</title>
</head>
<body>
  <h1>Editar pregunta</h1>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibieron que esta pregunta se guardara:</h2>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @question, url: "/questions/#{params[:id]}", method: :put do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.label :topic_id %><br>
      <%= f.collection_select :topic_id, @topics, :id, :name %>
    </p>

    <p>
      <%= f.submit "Guardar cambios" %>
    </p>
  <% end %>
</body>
</html>