<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Prelud-Code</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="user-info">
    <span class="username"><%= @user.username %></span>
    <span class="points">Puntos: <%= @user.points %></span>
  </div>
  <h1>¡Hola, <%= @user.username %>!</h1>
  <form action="/logout" method="post">
    <button type="submit" class="button logout-button">Cerrar sesión</button>
  </form>
  <p>¿Sobre qué tema quieres jugar hoy?</p>
  
  <!-- Generar enlaces a cada tema -->
  <ul class="topics-list">
    <% @topics.each do |topic| %>
      <li>
        <a href="/topics/<%= topic.id %>" class="topic-button"><%= topic.name %></a>
      </li>
    <% end %>
  </ul>
  

 <span>
    <% if flash.has?(:success) %>
      <p class="success"><%= flash[:success].gsub(/\n/, '<br>') %></p>
    <br>
    <% end %>
    <% if flash.has?(:error) %>
      <p class="error"><%= flash[:error].gsub(/\n/, '<br>') %></p>
    <br>
    <% end %>
  </span>
</body>
</html>