<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Prelude-Code</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="user-info">
    <span class="username"><%= @user.username %></span>
    <span class="points">Puntos: <%= @user.points %></span>
    <span class="streak">Racha: <%= @user.streak %></span>
  </div>

  <div class="user-actions">
    <div class="ranking-container">
      <form action="/ranking" method="get">
        <button type="submit" class="button ranking-button">Ver Ranking</button>
      </form>
    </div>

    <!-- Obtén el valor de la sesión que deseas utilizar para la redirección -->
    <% ultimo_valor_seleccionado = session[:ultimo_valor_seleccionado] || 'week' %>

    <div class="history-container">
      <form action="<%= "/history/#{ultimo_valor_seleccionado}" %>" method="get">
        <button type="submit" class="button history-button">Ver Historial</button>
      </form>
    </div>
  </div>

  <h1>¡Hola, <%= @user.username %>!</h1>
  <form action="/logout" method="post">
    <button type="submit" class="button logout-button">Cerrar sesión</button>
  </form>
  <p>¿Sobre qué tema quieres jugar hoy?</p>
  
  <!-- Generar enlaces a cada tema -->
  <ul class="topics-list">
    <% @topics.each do |topic| %>
      <% knowledge = Knowledge.find_by(user_id: @user.id, topic_id: topic.id) %>
      <li>
        <div class="topic-wrapper">
        <% if knowledge.level < 4 %>
          <a href="/topics/<%= topic.id %>" class="topic-button"><%= topic.name %></a>
          <% if knowledge %>
              <span class="topic-level">Nivel: <%= knowledge.level %></span>
          <% end %>
        <% else %>
          <a class="topic-button"><%= topic.name %></a>
          <span class="topic-level"> ¡Tema completo!</span>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  

 <span>
    <% if flash.has?(:success) %>
      <p class="success"><%= flash[:success]%></p>
    <% end %>
    <% if flash.has?(:error) %>
      <p class="error"><%= flash[:error]%></p>
    <% end %>
  </span>
</body>
</html>